apiVersion: apps/v1
kind: Deployment
metadata:
  name: flask-app-deployment
spec:
  replicas: 2
  selector:
    matchLabels:
      app: flask-app
  template:
    metadata:
      labels:
        app: flask-app
    spec:
      containers:
        - name: flask-app
          image: sanikakate2002/docker-repo:latest
          ports:
            - containerPort: 5000
          volumeMounts:
            - name: storage
              mountPath: /data/uploads
      volumes:
        - name: storage
          persistentVolumeClaim:
            claimName: flask-pvc
